NODE_ENV=production
PORT=4000
DATABASE_URL=<will be filled by Railway>
JWT_SECRET=2aERqf/BrJ6E71ZVP0iplVzYQJs00Ken49r7kf0qbh9LUMxWOFQkYjE1AuNagtCIZyHeSmPvp5iob1tURwutqA==
JWT_REFRESH_SECRET=3YxzEKtd7g1S9mK1EQM/pPj2CwuL/mj4z1WGQtZniuQmLkwHXVeOooJ37zO8KLkwZmvGNPfvb6Dhz6150fbK2g==
FRONTEND_URL=<will be filled by Vercel>
